The command line user interface must:
1. Allow users to execute one line commands to perform a certain action.
2. Provide a help output in case a user forgets on how to perform a
certain operation.


STRUCTURE OF INFORMATION DATA
Abstract view of structure:
A user can create a named budget and it can contain a set of named topics.
The topics represent certain parts of a budget and each one of them
will have a monetary limit, where a certain amount of money is allowed
to be spent for (thus tracking how much a user has spent so far).
Also the budget will have a period type to indicate how often the limits
can be reset (i.e. either weekly or monthly).

Technical view:
Budget Structure
The data structure will be stored in json/dictionary data type.
The budget will represent as an overall container structure that will
contain different key values:
budget_name -- to describe a budget
topics -- a dictionary that will contain topics, their respective
          limits and other related attributes.
reset_period_type -- a key value to indiciate how often to reset the
          limits.
creation_date -- a date to indicate creation of a budget.
reset_date -- a date to indicate when topics were reset. If the
              budget has just been created, then it will have the same
              date as the creation one.
move_leftover -- a boolean to indicate whether to carry over left over
                 to a next period of topic's limit (thus increasing it)
                 or not.

Topic Structure
Topic structure will be a dictionary structure to contain certain
attributes:
limit -- a monetary limit where a money spending can't go over it.
topic_name -- to describe topic.
original_limit -- a variable to contain original limit if move_leftover
is set to true, so if the limit has been reached or over reached, the
value can be assigned to limit.

Storing/Saving the data structure.
Since the data will be stored in a dict data structure, json parser
can be used to convert it and store it in a file. Thus it's possible to
use the same parser to do restoring of it.

ARCHITECTURAL STRUCTURE
This is a list of modules that will exist to make up the whole program:
- constants
- cmd_user_interface
- request_processor
- budget_operations
- file_and_dir_operations
- error_handling
- budtrack

constants module:
+ it will contain certain constants that will be used throughout the
program to keep user's input arguments consistent.

cmd_user_interface module:
+ it's responsible for presenting command line options to the user.
+ it parses user's input into a dictionary, which will be used by
request_processor.
+ it uses docopt to do the above.

request_processor module:
+ it contains a function that decides what to do with the input.
+ it contains a set of functions to perform small tasks that will make
the whole user request.
+ it uses budget_operations functions to perform a certain operation
based on a user's input.
+ it uses operations from budget_operations module to do what's needed.

budget_track module:
+ it contains functions that perform different budget-related
operations, which are based upon user's requirements.
+ the functions will use an Exception class to throw an error when
functions discover it. budtrack module should catch them and report
them to the user.

file_and_dir_operations module:
+ it contains functions responsible for performing file and directory
operations.
+ it will contain functions that will save or get data from files.
+ it will contain a function that will create a directory to contain
all budget files.

error_handling module:
+ it contains a function that will create an exception class and pass
a custom error message to it.

budtrack module:
+ it is a main function that needs to be run and passed with arguments
to perform a certain operation.
